### Jekyll ###
_site
.jekyll-metadata
*-cache/


### NPM ###
/node_modules/


### Atom ###
.ftpconfig
.sftpconfig


### WordPress ###
wp-config.php
wp-config-local.php
	@@ -26,11 +23,9 @@ wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php


### Apache ###
.htaccess


### Compiled Source ##
*.com
*.class
	@@ -39,7 +34,6 @@ wp-content/plugins/hello.php
*.o
*.so


### Compressed Packages ###
*.7z
*.dmg
	@@ -50,20 +44,17 @@ wp-content/plugins/hello.php
*.tar
*.zip


### Logs and Databases ###
*.log
*.sql
*.sqlite


### Linux ###
*~
.fuse_hidden*
.Trash-*
.nfs*


### MacOS ###
*.DS_Store
.AppleDouble
	@@ -83,7 +74,6 @@ Network Trash Folder
Temporary Items
.apdisk


### Windows ###
Thumbs.db
ehthumbs.db
	@@ -94,4 +84,7 @@ $RECYCLE.BIN/
*.msi
*.msm
*.msp
*.lnk